@model IEnumerable<WebClient.Models.Food>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}
<header>
    <div class="container-fluid">
        <div class="row py-3 border-bottom">

            <div class="col-sm-4 col-lg-2 text-center text-sm-start d-flex gap-3 justify-content-center justify-content-md-start">
                <div class="d-flex align-items-center my-3 my-sm-0">
                    <a href="index.html">
                        <img src="~/images/logo.svg" alt="logo" class="img-fluid">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar">
                </button>
            </div>

            <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-4">
                <div class="search-bar row bg-light p-2 rounded-4">
                    <div class="col-md-4 d-none d-md-block">
                        <select class="form-select border-0 bg-transparent">
                            <option>All Categories</option>
                            <option>Groceries</option>
                            <option>Drinks</option>
                            <option>Chocolates</option>
                        </select>
                    </div>
                    <div class="col-11 col-md-7">
                        <form id="search-form" class="text-center" action="index.html" method="post">
                            <input type="text" class="form-control border-0 bg-transparent"
                                   placeholder="Search for more than 20,000 products">
                        </form>
                    </div>
                    <div class="col-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                  d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <ul class="navbar-nav list-unstyled d-flex flex-row gap-3 gap-lg-5 justify-content-center flex-wrap align-items-center mb-0 fw-bold text-uppercase text-dark">
                    <li class="nav-item active">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a href="index.html" class="nav-link">Food List</a>
                    </li>
                    <li>
                        <a href="#" class="p-2 mx-1">
                            <svg width="24" height="24">
                                <use xlink:href="#user"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a asp-controller="Home" asp-action="Login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a href="index.html" class="nav-link">Sign Up</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</header>

<section style="background-image: url('/images/banner-1-1.jpg');background-repeat: no-repeat;background-size: cover;">
    <div class="container-lg">
      <div class="row">
        <div class="col-lg-6 pt-5 mt-5">
          <h2 class="display-1 ls-1"><span class="fw-bold text-primary">Organic</span> Foods <span
              class="fw-bold">OnlineShop</span></h2>
          <p class="fs-4">Website đặt món online.</p>


        </div>
      </div>

      <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-3 g-0 justify-content-center">
        <div class="col">
          <div class="card border-0 bg-primary rounded-0 p-4 text-light">
            <div class="row">
              <div class="col-md-3 text-center">
                <svg width="60" height="60">
                  <use xlink:href="#fresh"></use>
                </svg>
              </div>
              <div class="col-md-9">
                <div class="card-body p-0">
                  <h5 class="text-light">Chất lượng</h5>
                  <p class="card-text">Được chế biến bởi đầu bếp lành nghề.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 bg-secondary rounded-0 p-4 text-light">
            <div class="row">
              <div class="col-md-3 text-center">
                <svg width="60" height="60">
                  <use xlink:href="#organic"></use>
                </svg>
              </div>
              <div class="col-md-9">
                <div class="card-body p-0">
                  <h5 class="text-light">Nguyên liệu sạch</h5>
                  <p class="card-text">Tươi mới mỗi ngày, từ đơn vị uy tín.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0 bg-danger rounded-0 p-4 text-light">
            <div class="row">
              <div class="col-md-3 text-center">
                <svg width="60" height="60">
                  <use xlink:href="#delivery"></use>
                </svg>
              </div>
              <div class="col-md-9">
                <div class="card-body p-0">
                  <h5 class="text-light">Giao hàng nhanh</h5>
                  <p class="card-text">Nhận món nhanh chóng với chi phí hợp lý.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
<section class="pb-5">
    <div class="container-lg">

        <div class="row">
            <div class="col-md-12">

                <div class="section-header d-flex flex-wrap justify-content-between my-4">

                    <h2 class="section-title">Food List</h2>
                    <div class="d-flex align-items-center">
                        <a href="#" class="btn btn-primary me-2">View All</a>
                    </div>
                </div>

            </div>
        </div>
    <div class="row">
        <div class="col-md-12">         
                <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
                    @foreach (var item in Model)
                    {
                        <div class="col">
                            <div class="product-item">
                        <figure>
                            <a href="index.html" title="Product Title">
                               <img src=@Html.DisplayFor(modelItem => item.Description) alt="Product Thumbnail" class="tab-image">@*  *@
                            </a>
                        </figure>
                        <div class="d-flex flex-column text-center">
                            <h3 class="fs-6 fw-normal">@Html.DisplayFor(modelItem => item.Name)</h3> @*  *@
                            <div>
                                <span class="rating">
                                    <svg width="18" height="18" class="text-warning">
                                        <use xlink:href="#star-full"></use>
                                    </svg>
                                    <svg width="18" height="18" class="text-warning">
                                        <use xlink:href="#star-full"></use>
                                    </svg>
                                    <svg width="18" height="18" class="text-warning">
                                        <use xlink:href="#star-full"></use>
                                    </svg>
                                    <svg width="18" height="18" class="text-warning">
                                        <use xlink:href="#star-full"></use>
                                    </svg>
                                    <svg width="18" height="18" class="text-warning">
                                        <use xlink:href="#star-half"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="d-flex justify-content-center align-items-center gap-2">
                                <span class="text-dark fw-semibold">$@Html.DisplayFor(modelItem => item.Price)</span> @*  *@
                                <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">
                                    10%
                                    OFF
                                </span>
                            </div>
                            <div class="button-area p-3 pt-0">
                                <div class="row g-1 mt-2 justify-content-center">
                                    <div class="col-7 text-center">
                                        <a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart">
                                            <svg width="18" height="18">
                                                <use xlink:href="#cart"></use>
                                            </svg> Add to Cart
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    }
            </div>         <!-- / product-grid -->
        </div>
    </div>
</section>
